---
import { getPrimaryMenu } from '../lib/api';

// Panggil fungsi API di dalam `frontmatter`
const menuData = await getPrimaryMenu();
const menuItems = menuData?.menuItems?.edges || [];
---

<nav class="flex flex-wrap items-center justify-between p-6 bg-blue-500 shadow-lg">
  <a href="/" class="cursor-pointer p-4 ml-2 text-white">AstroPress</a>
  <ul class="flex items-center justify-end flex-grow">
    {menuItems.length > 0 ? (
      menuItems.map((item) => (
        <li key={item.node.path}>
          <a href={`/${item.node.connectedNode.node.slug}`} class="cursor-pointer p-4 ml-2 text-white">
            {item.node.label}
          </a>
        </li>
      ))
    ) : (
      <li class="text-white p-4">No menu items found</li>
    )}
  </ul>
</nav>
